<section class="w-full p-6 pt-25">
    <div class="mb-6">
        <h2 class="text-2xl font-semibold text-gray-700 dark:text-white">Movimientos de ahorro</h2>
        <p class="text-sm text-gray-500 dark:text-gray-300 text-justify">En esta sección podras revisar los movimientos de ahorro que tienes hasta la fecha.</p>
    </div>
    <app-tabla 
        nombreReporte="Reporte-ahorro"
        (cambiarPagina)="obtenerInformacionTabla($event)"
        [eliminarElemento]="eliminarAhorro"
        [datos$]="resultadoPaginaAhorros$"
        [camposHeader]="listaCampos"
        (buscarAhorrosPorNombre)="buscarAhorro($event)">

        <tbody class="text-xs lg:text-sm" *ngIf="resultadoPaginaAhorros$ | async as lista">
            @for (ahorro of lista.data; track ahorro.id) {
                <tr class="border-b dark:border-gray-700">
                    <td class="px-1 md:px-4 py-3"> {{ ahorro.id }} </td>
                    <td class="px-1 md:px-4 py-3 text-green-600 dark:text-green-400"> $ {{ ahorro.monto | currency: ' ':'symbol':'1.0-0' }} </td>
                    <td class="px-1 md:px-4 py-3"> {{ ahorro.fecha | date: 'dd/MM/YYY hh:ss' }} </td>
                    <td class="px-1 md:px-4 py-3"> {{ ahorro.descripcion }} </td>
                    <td class="px-1 md:px-4 py-3"> {{ ahorro.metaAhorroNombre }} </td>
                    <td class="px-1 md:px-4 py-3"> {{ ahorro.tipoAhorro }} </td>
                    <td class="px-1 md:px-4 py-3"> <p class="rounded" [ngClass]="{
                        'text-green-700 bg-green-400/20 dark:text-green-400': ahorro.estadoMeta == 'Activa',
                        'text-yellow-600 bg-yellow-400/30 px-2 dark:text-yellow-400': ahorro.estadoMeta == 'Cumplida'
                    }"> {{ ahorro.estadoMeta }} </p> </td>
                    <td class="px-1 md:px-4 py-3">
                        <button 
                            [ngClass]="{
                                'cursor-not-allowed text-gray-500 dark:text-gray-400': ahorro.estadoMeta == 'Cumplida',
                                'cursor-pointer text-red-400': ahorro.estadoMeta == 'Activa'
                            }" 
                            class="pi pi-trash" (click)="mostrarModalEliminarElemento(ahorro.id)"></button>
                    </td>
                </tr>
            }
        </tbody>

    </app-tabla>
</section>