<section class="w-full h-screen p-6 pt-25">
    <div class="mb-8">
      <h1 class="text-2xl font-semibold text-gray-700 dark:text-white">Graficas de comportamiento.</h1>
      <p class="text-sm text-gray-500 dark:text-gray-300">
        Analiza y revisa las graficas y reportes que se generan de toda la informacion procesada.
      </p>
    </div>
    <div class="w-full flex justify-end mb-5">
      <button (click)="exportar_excel()" [disabled]="exportando" class="h-10 w-45 bg-blue-300 hover:bg-blue-400 text-gray-800 dark:bg-green-300 dark:hover:bg-green-400 font-semibold rounded p-2 cursor-pointer flex justify-center items-center gap-2">
        @if (exportando) {
          <i class="pi pi-spin pi-spinner w-4 h-4"></i>
        }
        @else {
          Exportar Excel
          <svg class="w-4 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"/>
          </svg>
        }
      </button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 lg:grid-rows-2 gap-3">
      
      <app-line-two-grafica-chart 
      [labels]="labelsIngreso" 
      [data1]="dataIngreso" 
      [data2]="dataEgreso" 
      tituloGrafica="Ingresos VS Egresos" 
      tituloLabel1="Ingresos"
      tituloLabel2="Egresos"
      colorLabel1="green"
      colorLabel2="red"  
      textoLabelX="Dias"
      textoLabelY="Valor en pesos."
      bordeColor1="#00FF0060"
      bordeColor2="#FF000060"
      fondoColor1="#0F0"
      fondoColor2="#F00"
      />
      
      <app-line-grafica-chart 
        [labels]="labelsRentabilidad"
        [data]="dataRentabilidad"
        tituloLabel="Rentabilidad"
        textoLabelX="Dias"
        textoLabelHover="Rentabilidad"
        textoLabelY="Valor en pesos"
        colorFondo="#44ffaa"
        tituloGrafica="Rentabilidad por dias."
        bordeColor="#44ffaa60"
      />

      <app-line-grafica-chart 
        [labels]="labelsAhorro" 
        [data]="dataAhorro" 
        textoLabelX="Dias" 
        textoLabelY="Valor en pesos." 
        tituloLabel="Ahorros" 
        textoLabelHover="Ahorro"
        colorFondo="#FFA300" 
        tituloGrafica="Ahorros ingresados en metas."
        bordeColor="#FFA30060"
        [alineacionVerticalLabelsX]="false"
        />
        <!--<app-line-grafica-chart 
          [labels]="labelsEgresoPorCategoria"
          [data]="dataEgresoPorCategoria"
          tituloGrafica="Egresos por categorias"
          tituloLabel="Egresos"
          textoLabelX="Categorias"
          textoLabelY="Valor en pesos."
          colorFondo="#833AB4"
          bordeColor="#833AB430"
          [alineacionVerticalLabelsX]="true"
        /> -->

        <app-grafica-radar-chart 
          [labels]="labelsEgresoPorCategoria"
          [data]="dataEgresoPorCategoria"
          colorFondo="#833AB460"
          borderColor="#833AB460"
          colorFondoPuntos="#833AB4"
          tituloLabel="Egresos"
          tituloGrafica="Egresos por categorias."
        />
        
        <app-grafica-barras-chart 
          class="md:col-span-2 lg:col-span-2"
          [labels]="labelsMetaCumplientoGrafica"
          [data1]="dataMetaCumplimientoGraficaMontosObjetivos"
          [data2]="dataMetaCumplimientoGraficaMontosActuales"
          tituloGrafica="Progreso de las metas activas."
          tituloLabel1="Monto objetivo"
          tituloLabel2="Monto actual"
          colorFondo1="#00A4EF60"
          colorFondo2="#E1306C60"  
          tituloLabelX="Metas"
          tituloLabelY="Valor en pesos."
          colorBorde1="#00A4EF"
          colorBorde2="#E1306C"
          />

    </div>

</section>