<section class="w-full h-screen p-6 pt-25">
    <div class="mb-8">
      <h1 class="text-2xl font-semibold text-gray-700 dark:text-white">Graficas de comportamiento.</h1>
      <p class="text-sm text-gray-500 dark:text-gray-300">
        Analiza y revisa las graficas y reportes que se generan de toda la informacion procesada.
      </p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-2 gap-3">
        <app-line-grafica-chart 
          [labels]="labelsAhorro" 
          [data]="dataAhorro" 
          textoLabelX="Dias" 
          textoLabelY="Valor en pesos." 
          tituloLabel="Ahorros" 
          colorFondo="#FFA300" 
          tituloGrafica="Ahorros ingresados en metas."
          bordeColor="#FFA30030"
          [alineacionVerticalLabelsX]="false"
          />
        
        <app-line-two-grafica-chart 
          [labels]="labelsIngreso" 
          [data1]="dataIngreso" 
          [data2]="dataEgreso" 
          tituloGrafica="Ingresos VS Egresos" 
          tituloLabel1="Ingresos"
          tituloLabel2="Egresos"
          colorLabel1="green"
          colorLabel2="red"  
          textoLabelX="Dias"
          textoLabelY="Valor en pesos."
          bordeColor1="#00FF0030"
          bordeColor2="#FF000030"
          fondoColor1="green"
          fondoColor2="red"
        />

        <!--<app-line-grafica-chart 
          [labels]="labelsEgresoPorCategoria"
          [data]="dataEgresoPorCategoria"
          tituloGrafica="Egresos por categorias"
          tituloLabel="Egresos"
          textoLabelX="Categorias"
          textoLabelY="Valor en pesos."
          colorFondo="#833AB4"
          bordeColor="#833AB430"
          [alineacionVerticalLabelsX]="true"
        /> -->

        <app-grafica-radar-chart 
          class="lg:col-span-2"
          [labels]="labelsEgresoPorCategoria"
          [data]="dataEgresoPorCategoria"
          colorFondo="#833AB430"
          borderColor="#833AB430"
          colorFondoPuntos="#833AB4"
          tituloLabel="Egresos"
          tituloGrafica="Egresos por categorias."
        />
    </div>

</section>