<section class="text-gray-700 dark:text-white w-full p-6 pt-25">
  <div class="mb-6">
    <h2 class="text-2xl font-semibold text-gray-700 dark:text-white">
      Ingresos y Gastos
    </h2>
    <p class="text-sm text-gray-500 dark:text-gray-300 text-justify">
      En esta sección podras gestionar ingresos y gastos, las opciones que hay son: <strong>Efectivo</strong>, 
      <strong>Billetera Digital (Nequi, Daviplata, etc)</strong>, <strong>App (Para personas que trabajan en 
        aplicaciones)</strong> y <strong>Banco (Para llevar un control en entidades financieras) </strong>. Esto 
        con el fin de llevar un control 360 de nuestros ingresos y gastos.
    </p>
  </div>

  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-5 gap-6 mb-8"
    *ngIf="totalesIngresos$ | async as totalesIngresos">
    <div
      class="bg-white dark:bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
      title="En este valor no se suman las metas cumplidas."
    >
      <div>
        <h2 class="text-sm text-gray-400">Efectivo</h2>
        <p class="text-3xl lg:text-2xl font-bold mt-2"> $ {{ (totalesIngresos.totalEfectivo) ? (totalesIngresos.totalEfectivo | currency: ' ':'symbol':'1.0-0') : '0' }} </p>
      </div>
      <i class="pi pi-dollar bg-blue-200 text-blue-900 dark:bg-green-200 p-4 lg:p-3 rounded-3xl dark:text-green-900"></i>
    </div>

    <div
      class="bg-white dark:bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <h2 class="text-sm text-gray-400">Nequi</h2>
        <p class="text-3xl lg:text-2xl font-bold mt-2"> $ {{ (totalesIngresos.totalNequi) ? (totalesIngresos.totalNequi | currency: ' ':'symbol':'1.0-0') : '0' }} </p>
      </div>
      <i class="pi pi-dollar bg-blue-200 text-blue-900 dark:bg-green-200 p-4 lg:p-3 rounded-3xl dark:text-green-900"></i>
    </div>

    <div
      class="bg-white dark:bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <h2 class="text-sm text-gray-400">App</h2>
        <p class="text-3xl lg:text-2xl font-bold mt-2"> $ {{ (totalesIngresos.totalApp) ? (totalesIngresos.totalApp | currency: ' ':'symbol':'1.0-0') : '0' }} </p>
      </div>
      <i class="pi pi-dollar bg-blue-200 text-blue-900 dark:bg-green-200 p-4 lg:p-3 rounded-3xl dark:text-green-900"></i>
    </div>

    <div
      class="bg-white dark:bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <h2 class="text-sm text-gray-400">Banco</h2>
        <p class="text-3xl lg:text-2xl font-bold mt-2"> $ {{ (totalesIngresos.totalBanco) ? (totalesIngresos.totalBanco | currency: ' ':'symbol':'1.0-0') : '0' }} </p>
      </div>
      <i class="pi pi-dollar bg-blue-200 text-blue-900 dark:bg-green-200 p-4 lg:p-3 rounded-3xl dark:text-green-900"></i>
    </div>

    <div
      class="bg-white dark:bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center col-span-1 sm:col-span-2 md:col-span-2 lg:col-span-1"
    >
      <div>
        <h2 class="text-sm text-gray-400">Total</h2>
        <p class="text-3xl lg:text-2xl font-bold mt-2">$ {{ (totalesIngresos.totalEfectivo + totalesIngresos.totalNequi + totalesIngresos.totalApp + totalesIngresos.totalBanco) | currency: ' ':'symbol':'1.0-0' }} </p>
      </div>
      <i class="pi pi-wallet bg-blue-200 text-blue-900 dark:bg-green-200 p-4 lg:p-3 rounded-3xl dark:text-green-900"></i>
    </div>
  </section>

  <h2 class="text-xl font-semibold mb-4">Ultimos Movimientos</h2>
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <div>
            <div class="text-xl mb-4 flex justify-between">
              <h3 class="font-semibold text-blue-700 dark:text-green-200">Ingresos</h3> 
              <button class="bg-blue-200 dark:text-white text-blue-900 dark:bg-blue-800 rounded-full w-7 cursor-pointer flex items-center justify-center pi pi-plus" (click)="mostrarModalIngreso()"></button>
            </div>

            <ul class="flex flex-col gap-3" *ngIf="listaIngresos$ | async as listaIngresos">
              @for (ingreso of listaIngresos; track ingreso.id) {
                <li class="p-4 bg-white dark:bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                  <div class="flex gap-3">
                    <div>
                      <i class="pi pi-arrow-circle-up bg-blue-200 text-blue-900 dark:bg-green-200 p-3 rounded-3xl dark:text-green-900"></i>
                    </div>
                    <div>
                      <h4 class="font-semibold"> {{ ingreso.tipo }} </h4>
                      <p class="text-xs md:text-sm lg:text-sm text-gray-400"> {{ ingreso.fechaRegistro | date: 'dd MMM yyyy' }} </p>
                    </div>
                  </div>
                  <div class="flex gap-2 justify-center items-center">
                    <p class="font-semibold text-green-500 dark:text-green-200">+ $ {{ ingreso.monto | currency: ' ':'symbol':'1.0-0'}} </p>
                    <button (click)="mostrarModalEliminarIngreso(ingreso.id, ingreso.tipo)" class="pi pi-trash text-red-700 mb-1 cursor-pointer"></button>
                  </div>
                </li>
              }
            </ul>
        </div>

        <div>
            <div class="text-xl mb-4 flex justify-between">
              <h3 class="text-red-400 font-semibold">Egresos</h3>
              <button class="bg-red-800 text-white rounded-full w-7 cursor-pointer flex items-center justify-center pi pi-minus" (click)="mostrarModalEgreso()"></button>
            </div>

            <ul class="flex flex-col gap-3" *ngIf="listaEgresos$ | async as listaEgresos">
              @for (egreso of listaEgresos; track egreso.id) {
                <li class="p-4 bg-white dark:bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                  <div class="flex gap-4"> 
                    <div>
                      <i class="pi pi-arrow-circle-down bg-red-200 p-3 rounded-3xl text-red-900"></i>
                    </div>
                    <div>
                      <h4 class="font-semibold"> {{ egreso.tipo }} </h4>
                      <p class="text-xs md:text-sm lg:text-sm text-gray-400"> {{ egreso.fechaRegistro | date: 'dd MMM yyyy' }} - {{ (egreso.nombreCategoriaGasto.split(' ').length == 2) ? egreso.nombreCategoriaGasto.split(' ')[1] : egreso.nombreCategoriaGasto }} </p>
                    </div>
                  </div>
                  <div class="flex gap-2 justify-center items-center">
                    <p class="text-red-400 font-semibold">- $ {{ egreso.monto | currency: ' ':'symbol':'1.0-0' }} </p>
                    <button (click)="mostrarModalEliminarEgreso(egreso.id, egreso.tipo)" class="pi pi-trash text-red-700 mb-1 cursor-pointer"></button>
                  </div>
                </li>
              }
            </ul>
        </div>

    </div>
  </section>
</section>

