<header class="z-2 bg-white dark:bg-gray-900 text-blue-700 text-4xl dark:text-green-200 border-b border-gray-400/50 dark:border-b-white font-extrabold py-5 flex justify-start gap-7 fixed  w-full">
    <button (click)="enviarPropiedadShowMenu()" class="cursor-pointer ml-6"><i class="pi pi-bars"></i></button>
    <div class="flex gap-3">
        <img src="/icon-header.png" alt="Icono Header" title="Icono App">
        <h1>Saving</h1>
    </div>
    <div class="absolute right-0 pb-4 pr-4">
        <app-button-theme />
    </div>
</header>