<section class="text-white body-font w-full p-6">
  <h2 class="text-2xl font-semibold text-white mb-8">
    Trabajo en Aplicaciones
  </h2>

  <section class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">
    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
      title="En este valor no se suman las metas cumplidas."
    >
      <div>
        <p class="text-sm text-gray-400">Efectivo</p>
        <h2 class="text-3xl font-bold mt-2">50.000</h2>
      </div>
      <i class="pi pi-dollar bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>

    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-sm text-gray-400">Nequi</p>
        <h2 class="text-3xl font-bold mt-2">120.0000</h2>
      </div>
      <i class="pi pi-dollar bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>

    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-sm text-gray-400">App</p>
        <h2 class="text-3xl font-bold mt-2">20.000</h2>
      </div>
      <i class="pi pi-dollar bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>

    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-sm text-gray-400">Total</p>
        <h2 class="text-3xl font-bold mt-2">190.000</h2>
      </div>
      <i class="pi pi-wallet bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>
  </section>

  <h2 class="text-xl font-semibold mb-4">Ultimos Movimientos</h2>
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <div>
            <h3 class="text-xl mb-4 flex justify-between">
              <p class="text-green-800 font-semibold">Ingresos</p> 
              <button class="bg-blue-800 rounded-full w-7 cursor-pointer flex items-center justify-center pi pi-plus"></button>
            </h3>

            <ul class="flex flex-col gap-3">
              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between">
                <p>Consecutivo: 1</p>
                <p>Nequi</p>
                <p>25/03/2026</p>
                <p class="text-green-800">$ 80.000</p>
              </li>

              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between">
                <p>Consecutivo: 2</p>
                <p>App</p>
                <p>25/03/2026</p>
                <p class="text-green-800">$ 70.000</p>
              </li>

              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between">
                <p>Consecutivo: 3</p>
                <p>Efectivo</p>
                <p>25/03/2026</p>
                <p class="text-green-800">$ 120.000</p>
              </li>
            </ul>
        </div>

        <div>
            <h3 class="text-xl mb-4 flex justify-between">
              <p class="text-red-400 font-semibold">Egresos</p>
              <button class="bg-red-800 rounded-full w-7 cursor-pointer flex items-center justify-center pi pi-minus"></button>
            </h3>

            <ul class="flex flex-col gap-3">
              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between">
                <p>Consecutivo: 1</p>
                <p>Efectivo</p>
                <p>25/03/2026</p>
                <p class="text-red-400">$ 80.000</p>
              </li>

              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between">
                <p>Consecutivo: 2</p>
                <p>App</p>
                <p>25/03/2026</p>
                <p class="text-red-400">$ 10.000</p>
              </li>

              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between">
                <p>Consecutivo: 3</p>
                <p>Nequi</p>
                <p>25/03/2026</p>
                <p class="text-red-400">$ 16.000</p>
              </li>
            </ul>
        </div>

    </div>
  </section>
</section>
