<section class="text-white body-font w-full p-6">
  <h2 class="text-2xl font-semibold text-white mb-8">
    Trabajo en Aplicaciones
  </h2>

  <section class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">
    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
      title="En este valor no se suman las metas cumplidas."
    >
      <div>
        <p class="text-sm text-gray-400">Efectivo</p>
        <h2 class="text-3xl font-bold mt-2"> $ {{ (totalesIngresos.totalEfectivo) ? (totalesIngresos.totalEfectivo | currency: ' ':'symbol':'1.0-0') : '0' }} </h2>
      </div>
      <i class="pi pi-dollar bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>

    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-sm text-gray-400">Nequi</p>
        <h2 class="text-3xl font-bold mt-2"> $ {{ (totalesIngresos.totalNequi) ? (totalesIngresos.totalNequi | currency: ' ':'symbol':'1.0-0') : '0' }} </h2>
      </div>
      <i class="pi pi-dollar bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>

    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-sm text-gray-400">App</p>
        <h2 class="text-3xl font-bold mt-2"> $ {{ (totalesIngresos.totalApp) ? (totalesIngresos.totalApp | currency: ' ':'symbol':'1.0-0') : '0' }} </h2>
      </div>
      <i class="pi pi-dollar bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>

    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-sm text-gray-400">Total</p>
        <h2 class="text-3xl font-bold mt-2">$ {{ (totalesIngresos.totalEfectivo + totalesIngresos.totalNequi + totalesIngresos.totalApp) | currency: ' ':'symbol':'1.0-0' }} </h2>
      </div>
      <i class="pi pi-wallet bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>
  </section>

  <h2 class="text-xl font-semibold mb-4">Ultimos Movimientos</h2>
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <div>
            <h3 class="text-xl mb-4 flex justify-between">
              <p class="font-semibold text-green-200">Ingresos</p> 
              <button class="bg-blue-800 rounded-full w-7 cursor-pointer flex items-center justify-center pi pi-plus" (click)="mostrarModalIngreso()"></button>
            </h3>

            <ul class="flex flex-col gap-3">
              @for (ingreso of listaIngresos; track ingreso.id) {
                <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                  <div class="flex gap-3">
                    <div>
                      <i class="pi pi-arrow-circle-up bg-green-200 p-3 rounded-3xl text-green-900"></i>
                    </div>
                    <div>
                      <p class="font-semibold"> {{ ingreso.tipo }} </p>
                      <p class="text-xs text-gray-400"> {{ ingreso.fechaRegistro | date: 'dd MMM yyyy' }} </p>
                    </div>
                  </div>
                  <p class="font-semibold text-green-200">+ $ {{ ingreso.monto | currency: ' ':'symbol':'1.0-0'}} </p>
                </li>
              }
            </ul>
        </div>

        <div>
            <h3 class="text-xl mb-4 flex justify-between">
              <p class="text-red-400 font-semibold">Egresos</p>
              <button class="bg-red-800 rounded-full w-7 cursor-pointer flex items-center justify-center pi pi-minus" (click)="mostrarModalEgreso()"></button>
            </h3>

            <ul class="flex flex-col gap-3">
              @for (egreso of listaEgresos; track egreso.id) {
                <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                  <div class="flex gap-4"> 
                    <div>
                      <i class="pi pi-arrow-circle-down bg-red-200 p-3 rounded-3xl text-red-900"></i>
                    </div>
                    <div>
                      <p class="font-semibold"> {{ egreso.tipo }} </p>
                      <p class="text-xs text-gray-400"> {{ egreso.fechaRegistro | date: 'dd MMM yyyy' }} </p>
                    </div>
                  </div>
                  <p class="text-red-400 font-semibold">- $ {{ egreso.monto | currency: ' ':'symbol':'1.0-0' }} </p>
                </li>
              }
            </ul>
        </div>

    </div>
  </section>
</section>

