<section class="text-white body-font w-full p-6">
  <h2 class="text-2xl font-semibold text-white mb-8">
    Trabajo en Aplicaciones
  </h2>

  <section class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">
    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
      title="En este valor no se suman las metas cumplidas."
    >
      <div>
        <p class="text-sm text-gray-400">Efectivo</p>
        <h2 class="text-3xl font-bold mt-2"> $ {{ (totales.totalEfectivo) ? (totales.totalEfectivo | currency: ' ':'symbol':'1.0-0') : '0' }} </h2>
      </div>
      <i class="pi pi-dollar bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>

    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-sm text-gray-400">Nequi</p>
        <h2 class="text-3xl font-bold mt-2"> $ {{ (totales.totalNequi) ? (totales.totalNequi | currency: ' ':'symbol':'1.0-0') : '0' }} </h2>
      </div>
      <i class="pi pi-dollar bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>

    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-sm text-gray-400">App</p>
        <h2 class="text-3xl font-bold mt-2"> $ {{ (totales.totalApp) ? (totales.totalApp | currency: ' ':'symbol':'1.0-0') : '0' }} </h2>
      </div>
      <i class="pi pi-dollar bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>

    <div
      class="bg-gray-800 rounded-xl p-6 shadow-md flex justify-between items-center"
    >
      <div>
        <p class="text-sm text-gray-400">Total</p>
        <h2 class="text-3xl font-bold mt-2">$ {{ (totales.totalEfectivo + totales.totalNequi + totales.totalApp) | currency: ' ':'symbol':'1.0-0' }} </h2>
      </div>
      <i class="pi pi-wallet bg-green-200 p-4 rounded-3xl text-green-900"></i>
    </div>
  </section>

  <h2 class="text-xl font-semibold mb-4">Ultimos Movimientos</h2>
  <section>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <div>
            <h3 class="text-xl mb-4 flex justify-between">
              <p class="font-semibold text-green-200">Ingresos</p> 
              <button class="bg-blue-800 rounded-full w-7 cursor-pointer flex items-center justify-center pi pi-plus" (click)="modalIngreso.abrir()"></button>
            </h3>

            <ul class="flex flex-col gap-3">
              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                <div class="flex gap-3">
                  <div>
                    <i class="pi pi-arrow-circle-up bg-green-200 p-3 rounded-3xl text-green-900"></i>
                  </div>
                  <div>
                    <p class="font-semibold">Nequi</p>
                    <p class="text-xs text-gray-400">25/03/2026</p>
                  </div>
                </div>
                <p class="font-semibold text-green-200">+ $ 80.000</p>
              </li>

              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                <div class="flex gap-3">
                  <div>
                    <i class="pi pi-arrow-circle-up bg-green-200 p-3 rounded-3xl text-green-900"></i>
                  </div>
                  <div>
                    <p class="font-semibold">App</p>
                    <p class="text-xs text-gray-400">25/03/2026</p>
                  </div>
                </div>
                <p class="font-semibold text-green-200">+ $ 70.000</p>
              </li>

              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                <div class="flex gap-3">
                  <div>
                    <i class="pi pi-arrow-circle-up bg-green-200 p-3 rounded-3xl text-green-900"></i>
                  </div>
                  <div>
                    <p class="font-semibold">Efectivo</p>
                    <p class="text-xs text-gray-400">25/03/2026</p>
                  </div>
                </div>
                <p class="font-semibold text-green-200">+ $ 120.000</p>
              </li>
            </ul>
        </div>

        <div>
            <h3 class="text-xl mb-4 flex justify-between">
              <p class="text-red-400 font-semibold">Egresos</p>
              <button class="bg-red-800 rounded-full w-7 cursor-pointer flex items-center justify-center pi pi-minus" (click)="modalEgreso.abrir()"></button>
            </h3>

            <ul class="flex flex-col gap-3">
              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                <div class="flex gap-4"> 
                  <div>
                    <i class="pi pi-arrow-circle-down bg-red-200 p-3 rounded-3xl text-red-900"></i>
                  </div>
                  <div>
                    <p class="font-semibold">Efectivo</p>
                    <p class="text-xs text-gray-400">25/03/2026</p>
                  </div>
                </div>
                <p class="text-red-400 font-semibold">- $ 80.000</p>
              </li>

              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                <div class="flex gap-3">
                  <div>
                    <i class="pi pi-arrow-circle-down bg-red-200 p-3 rounded-3xl text-red-900"></i>
                  </div>
                  <div>
                    <p class="font-semibold">App</p>
                    <p class="text-xs text-gray-400">25/03/2026</p>
                  </div>
                </div>
                <p class="text-red-400 font-semibold">- $ 10.000</p>
              </li>

              <li class="p-4 bg-gray-800 rounded-xl shadow-md flex justify-between items-center">
                <div class="flex gap-3">
                  <div>
                    <i class="pi pi-arrow-circle-down bg-red-200 p-3 rounded-3xl text-red-900"></i>
                  </div>
                  <div>
                    <p class="font-semibold">Nequi</p>
                    <p class="text-xs text-gray-400">25/03/2026</p>
                  </div>
                </div>
                <p class="text-red-400 font-semibold">- $ 16.000</p>
              </li>
            </ul>
        </div>

    </div>
  </section>
</section>

<app-modal-normal
  #modalIngreso
  titulo="Registrar Ingreso"
  manejador="normal"
  tipo="confirmacion"
  [callback1]="registrarAhorro"
  nombreBtnAccion1="Registrar">

  <form class="flex flex-col gap-4">

      <div>
        <label>Tipo</label>
        <select [(ngModel)]="ingreso.tipo" class="w-full p-2 rounded-lg bg-gray-800 text-white border border-gray-700"
          placeholder="Ej: Ahorro para moto" name="tipo" id="tipo">
          <option value="" selected>Seleccionar</option>
          <option value="Efectivo">Efectivo</option>
          <option value="Nequi">Nequi</option>
          <option value="App">App</option>
        </select>
      </div>

      <div>
        <label>Monto</label>
        <input [(ngModel)]="ingreso.monto" name="monto" type="number"
          class="w-full p-2 rounded-lg bg-gray-800 text-white border border-gray-700" placeholder="Ej: 3000000">
      </div>

    </form>

</app-modal-normal>


<app-modal-normal
  #modalEgreso
  titulo="Registrar Egreso"
  manejador="normal"
  tipo="confirmacion"
  [callback1]="registrarEgreso"
  nombreBtnAccion1="Registrar">

  <form class="flex flex-col gap-4">

      <div>
        <label>Tipo</label>
        <select class="w-full p-2 rounded-lg bg-gray-800 text-white border border-gray-700"
          placeholder="Ej: Ahorro para moto" name="tipo" id="tipo">
          <option value="" selected>Seleccionar</option>
          <option value="Efectivo">Efectivo</option>
          <option value="Nequi">Nequi</option>
          <option value="App">App</option>
        </select>
      </div>

      <div>
        <label>Monto</label>
        <input name="monto" type="number"
          class="w-full p-2 rounded-lg bg-gray-800 text-white border border-gray-700" placeholder="Ej: 3000000">
      </div>

    </form>

</app-modal-normal>
