<section class="flex flex-col items-center justify-center p-6">

  <div class="text-center mb-10">
    <p class="text-gray-300 mt-2 text-lg">
      Tu camino hacia un mejor control financiero empieza aquí.
    </p>
  </div>

  <div class="w-64 h-64 bg-gray-800 rounded-3xl shadow-lg flex items-center justify-center mb-10">
    <span class="text-6xl">
        <img src="/images/saco-de-dinero.png" alt="Saco Dinero" title="Saco de dinero.">
    </span>
  </div>

  <div class="w-full max-w-sm space-y-4">

    <button routerLink="/registrarse" class="cursor-pointer w-full bg-green-200 hover:bg-green-300 text-gray-900 py-3 rounded-xl text-lg font-semibold shadow">
      Crear cuenta
    </button>

    <button routerLink="/ingresar" class="cursor-pointer w-full bg-gray-700 hover:bg-gray-600 text-white py-3 rounded-xl text-lg font-semibold shadow">
      Iniciar sesión
    </button>

  </div>

  <p class="text-gray-400 text-sm mt-8">
    Gestiona tus ahorros, controla tus gastos y logra tus metas.
  </p>

</section>
