<section class="flex flex-col items-center justify-center p-6 h-screen">

  <div class="text-center mb-10">
    <p class="text-gray-700 dark:text-gray-300 mt-2 text-lg">
      Tu camino hacia un mejor control financiero empieza aquí.
    </p>
  </div>

  <div class="bg-gray-200 w-64 h-64 dark:bg-gray-800 rounded-3xl shadow-lg flex items-center justify-center mb-10">
    <span class="text-6xl">
        <img src="/images/saco-de-dinero.png" alt="Saco Dinero" title="Saco de dinero.">
    </span>
  </div>

  <div class="w-full max-w-sm space-y-4">

    <button routerLink="/registrarse" class="bg-blue-700 hover:bg-blue-800 text-white dark:bg-green-200 dark:hover:bg-green-300 dark:text-gray-900 cursor-pointer w-full py-3 rounded-xl text-lg font-semibold shadow">
      Crear cuenta
    </button>

    <button routerLink="/ingresar" class="bg-gray-200 text-black hover:bg-gray-300 cursor-pointer w-full dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white py-3 rounded-xl text-lg font-semibold shadow">
      Iniciar sesión
    </button>

  </div>

  <p class="text-gray-700 dark:text-gray-400 text-sm mt-8">
    Gestiona tus ahorros, controla tus gastos y logra tus metas.
  </p>

</section>
