/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "flowbite/src/themes/playful";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@custom-variant dark (&:where(.dark, .dark *));



body::-webkit-scrollbar {
    width: .5rem;
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    width: .5rem;
    border-radius: 3px;
    background-color: oklch(21% 0.034 264.665);
}